{% extends 'base.html' %}

{% block Title %}Show Data{% endblock %}
{% block navbar_icon %}<i class="icon-leaf"></i>{% endblock %}
{% block navbar_title %}Show Data{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li>
        <i class="icon-home home-icon"></i>
        <a href="javascript:;"></a>
    </li>
</ul><!-- .breadcrumb -->
{% endblock %}

{% block navbar_header %}
    <div class="navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="light-blue">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    {% if current_user.is_authenticated %}
                    <img class="nav-user-photo" src="{{ current_user.get_pic }}" alt="Jason's Photo" />
                    <span class="user-info">
                        <small>欢迎光临,</small>
                        {{ current_user.username }}
                    </span>
                    {% else %}
                    <span class="user-info">
                        <small>未登录</small>
                        点我登录
                    </span>
                    {% endif %}

                    <i class="icon-caret-down"></i>
                </a>

                <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <li style="display:flex;">
                        <a href="{{blue_url_for('set_language')}}?next_url={{ request.full_path }}">
                            <i class="icon-cog"></i>
                            <span>{{ _("切换语言：") }}</span>
                            {{ get_change_language() }}
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <i class="icon-user"></i>
                            个人资料
                        </a>
                    </li>

                    <li class="divider"></li>

                    <li>

                        {% if current_user.is_authenticated %}
                        <a href="{{blue_url_for('user_logout')}}">
                            <i class="icon-off"></i>
                            退出
                        </a>
                        {% else %}
                        <a href="{{blue_url_for('user_login')}}">
                            <i class="icon-off"></i>
                            登录
                        </a>
                        {% endif %}

                    </li>
                </ul>
            </li>
        </ul><!-- /.ace-nav -->
    </div><!-- /.navbar-header -->
{% endblock %}

{% block nav_list %}
    <ul class="nav nav-list">

        {{ get_url_html_team(_("商品管理"),li_args=[
            {'name':"show_all_goods","show_name":_("展示所有商品")},
            {'name':"add_good","show_name":_("添加商品")},
            ])
        }}

        {{ get_url_html("show_all_orders",_("订单管理")) }}

        {{ get_url_html_team(_("充值管理"),li_args=[
            {'name':"show_all_paysetting","show_name":_("所有充值信息")},
            {'name':"add_paysetting","show_name":_("添加充值条件")},
            ])
        }}

        {{ get_url_html_team(_("商品类型管理"),li_args=[
            {'name':"show_kinds","show_name":_("所有类型信息")},
            {'name':"add_kind","show_name":_("添加类型条件")},
            ])
        }}

        {{ get_url_html_team(_("轮播图管理"),li_args=[
            {'name':"show_all_sliders","show_name":_("所有轮播图信息")},
            {'name':"add_silder","show_name":_("添加轮播图")},
            ])
        }}

        {% if current_user.is_authenticated %}
        <li>
            <a href="{{blue_url_for('user_logout')}}">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> {{ _("退出") }} </span>
            </a>
        </li>
        {% else %}
        <li>
            <a href="{{blue_url_for('user_login')}}">
                <i class="icon-dashboard"></i>
                <span class="menu-text"> {{ _("登录") }} </span>
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block extra_js %}
<script>
    $.each($(".form-group"),function (index,form_group) {
        var input_id = $(form_group).find("input").attr("id");
        var label_for = $(form_group).find("label").attr("for");
        if (label_for === undefined && input_id !== undefined) {
            $(form_group).find("label").attr("for",input_id);
        }
    });
</script>
{% endblock %}